.directory__login.admin-form {
  width: 100%;
  max-width: 420px;
  margin: 0 auto 80px;

  .pw-reset__message {
    margin-bottom: 15px;
    display: block;
  }

  .login-username,
  .login-password {
    position: relative;
  }

  label {
    display: block;
    margin-bottom: 15px;
  }

  input {
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }

  .login-remember {
    display: none;
  }

  .button {
    padding: 1.4em 1em;
  }

  .admin-form__bottom-link {
    text-align: center;
    line-height: 3rem;
    display: block;

    &:first-of-type {
      margin-bottom: 10px;
    }

    &.admin-form__bottom-link--home {
      margin-top: 30px;
    }
  }

  .password-reset__message {
    margin-bottom: 15px;
    display: inline-block;
  }
}
